body {
    background-color: #202020;
    color: white;
}

.navbar {
    background-color: #404040;
    padding: 5px 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #ff0000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;

}

.card {
    background-color: whitesmoke;
    color: #202020;
    padding: 8px;
    margin: 20px 0;
}

.input {
    background-color: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}